*{
    margin:0;
    padding:0;
    
}
body{
    background-color: rgb(234, 243, 243);
    font-style: italic;
}
header img{
    width:5rem;
    height:5rem;
}
header strong{
    font-weight: bold;
    font-size:xx-large;
    
}
.selection-box{
     background-color: grey;
     border:5px solid white;
     border-radius: 1rem;
}
.selection-box label{
    color:white;
    font-weight: bold;
    font-size:x-large;
    padding-right:5px;
}
.inputField {
        text-align:center;
}
.inputField input{
    font-size:large;
    border:1px solid grey;
    border-radius:0.5rem;
    width:15rem;
    height:50px;
}
.inputField button{
    border:1px solid gray;
    width:3rem;
    height:50px;
}
#resultDisplay{
    margin:10px auto;
    text-align: center;
    background-color: rgb(180, 177, 177);
    border:5px solid white;
    border-radius: 1rem;
    visibility: hidden;
}
.meanings p{
    color:lightskyblue;
    font-weight: bold;
}
.meanings h5,.meanings ul,.meanings div{
    text-align:left;
}
.meanings div{
    text-wrap: wrap;
    margin-bottom:1rem;
    
}
audio{
    width:100px;
}